<header class="header">
  <div class="header-content">
    <div id="header-title" class="header-title">
      <sup class="header-sup">modern</sup>
      <h3 class="header-title">Angular Nx Micro-frontend App</h3>
      <sub class="header-sub">propose by L.Kővári</sub>
    </div>
    <nav class="header-nav">
      <a routerLink="/mf_remote_home" routerLinkActive="active">Remote <span class="text-purple-500">Home</span></a>
      <a routerLink="/mf_remote_a" routerLinkActive="active">Remote <span class="text-green-500">A</span></a>
      <a routerLink="/mf_remote_b" routerLinkActive="active">Remote <span class="text-blue-500">B</span></a>
    </nav>
  </div>
</header>
